<h1>My Tasks</h1>
<ul class="list-group" style= "list-style-type: none">
  <% @tasks.each do |task| %>
    <div>
      <li>
      <input type="checkbox">
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
  <i class="fa-solid fa-trash btn btn-danger"></i>
  <% end %>

      </li>
      <% end  %>
    </div>
</ul>

<%= link_to "+ Add new task", new_task_path, class: "btn btn-primary" %>
